$blue: #007bff;
$blue-mid: #007bff99;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;

h1 {
  font-family: 'archia';
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-family: 'archia';
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-family: 'archia';
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-family: 'archia';
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-family: 'archia';
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-family: 'archia';
  font-size: 11px !important;
  font-weight: 600;
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;
  padding-top: 5rem;

  .home-left,
  .home-right {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  .home-left {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-height: 60rem;
  }

  .home-right {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-height: 10rem;
  }

  .header {
    z-index: 99;
  }
}


.Level {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;

  .level-item {
    display: flex;
    flex-direction: column;
    width: calc(25%);
    & > * {
      align-self: center;
    }
  }

  h1,
  h5 {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 600;
  }

  h4 {
    margin-bottom: -0.5rem;
  }

  h5 {
    font-weight: 600;
    overflow-wrap: break-word;
    text-align: center;
    width: 100%;
  }

  .is-confirmed {
    h1,
    h5 {
      color: $cherry;
    }

    h4 {
      color: $cherry-mid;
    }
  }

  .is-active {
    h1,
    h5 {
      color: $blue;
    }

    h4 {
      color: $blue-mid;
    }
  }

  .is-recovered {
    h1,
    h5 {
      color: $green;
    }

    h4 {
      color: $green-mid;
    }
  }

  .is-deceased {
    h1,
    h5 {
      color: $gray;
    }

    h4 {
      color: $gray-mid;
    }
  }
}